:root {
    display: flex;
}

.header {
    font-size: 100px;
    color: rgb(255, 255, 255);
    align-self: center;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
}

.button {
    font-size: 40px;
    width: 220px;
    height: 60px;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 70px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    -unity-font-definition: url("project://database/Packages/com.unity.render-pipelines.core/Runtime/Debugging/Prefabs/Fonts/PerfectDOSVGA437.ttf?fileID=12800000&guid=74a5091d8707f334b9a5c31ef71a64ba&type=3#PerfectDOSVGA437");
    transition-duration: 0.35s;
    transition-timing-function: ease-out-circ;
}

.button:hover {
    scale: 1.1 1.1;
    -unity-background-image-tint-color: rgb(255, 191, 191);
}
